
body{
    display: flex;
    justify-content: center;
    background-image: url('/assets/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    
}
div{
    width: 80%;
}